body,
html {
  width: 100%;
  height: 100%;
  display: flex;
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  position: relative;
  margin: 0 0 40px;
  display: flex;
  justify-content: center;
  font-family: Arial;
  font-size: 1.5rem;
  text-align: center;
  color: #FFF;
  &:after {
    content: "";
    width: 40%;
    height: 5px;
    position: absolute;
    bottom: -18px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
  }
}
[data-js="app"] {
  width: 100%;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  width: 300px;
}
.form {
  &-fields {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    input {
      width: 80%;
      height: 59px;
      padding: 0 15px;
      box-sizing: border-box;
      border: 0;
      color: rgb(0, 0, 0);
      font-size: 1.7rem;
      font-weight: 600;
    }
    button {
      width: 20%;
      border: 0;
      background-color: rgb(0, 0, 0);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        svg {
          transition: all .25s ease-in;
          color: #FFF;
        }
      }
      &.true {
        svg.eye{
          display: flex;
        }
        svg.eye-slash{
          display: none;
        }
      }
      &.false {
        svg.eye-slash{
          display: flex;
        }
        svg.eye{
          display: none;
        }
      }
      svg {
        color: rgb(204, 204, 204);
        font-size: 2rem;
        transition: all .25s ease-out;
      }
    }
  }
  &-controls {
    text-align: right;
    button {
      width: 20%;
      border: 0;
      padding: 10px 0;
      margin-right: 10px;
      background-color: rgb(0, 0, 0);
      cursor: pointer;
      &:hover {
        svg {
          color: #FFF;
          transition: all .25s ease-in;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      svg {
        color: rgb(204, 204, 204);
        font-size: 2rem;
        transition: all .25s ease-out;
      }
    }
  }
}
.github {
  width: 60px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  img {
    width: 100%;
  }
}
